@import '@splidejs/splide/dist/css/splide.min.css';

.apartments-slider {
    padding-top: 68px;
    padding-bottom: 68px;

    &__pagination {
        display: none;
    }

    &__title {
        margin-bottom: 64px;
    }

    &__arrows {
        position: absolute;
        top: -90px;
        width: 120px;
        right: 0;
    }

    &__arrow {
        font-size: 13px;
        color: $main-color;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        padding: 8px;
        background: #fff;
        border: 1px solid #D6D5C7;
        opacity: 1;

        &:disabled {
            border: 1px solid rgba(214, 213, 199, 0.5);
            background: rgba(214, 213, 199, 0.5);
        }
    }
}

.slides {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.apartment-item {
    max-width: 357px;

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: #203239;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &__img {
        width: 100%;
    }
}

@media(max-width: 991px) {
    .apartment-item {
        max-width: 310px;
    }
}

@media(max-width:575px) {

    .apartment-item {
        padding: 0 10px;
        max-width: 280px;

        &__img {
            width: 100%;
        }
    }
}