.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-links {
    display: flex;
    gap: 40px;
    align-items: center;

    &__item {
        padding: 10px 20px;
        transition: all .3s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__icon {
        font-size: 19px;
        color: #EEEDDE
    }
}

@media (max-width: 575px) {
    .footer {
        justify-content: center !important;

        &__logo {
            display: none;
        }
    }

    .social-links {
        gap: 10px;
    }
}