.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    padding-top: 50px;
}

.hamburger {
    display: none;
    font-size: 30px;
}

.drop-menu {
    &__list-mobile {
        display: none;
    }

    &__list {
        left: 56%;
        top: 100%;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        flex-direction: column;
        white-space: nowrap;
        padding: 10px;
        background-color: #fff;
        border-radius: 15px;
        z-index: 2;
        margin: 0;

        li {
            padding: 5px 10px;
        }

        a {
            font-weight: 300;

            &:hover {
                color: $main-color;
            }
        }

    }

    &:hover {
        .drop-menu {
            &__list {
                opacity: 1;
            }
        }
    }
}

.navigation-menu {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;

    &__item {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-weight: 300;
        transition: all .2s;
        position: relative;


        &::after {
            content: '';
            transition: all .3s;
            position: absolute;
            height: 3px;
            background-color: $main-color;
            width: 0px;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 4px;
        }

        &:hover {
            font-weight: 600;
            color: #203239;

            &::after {
                width: 30%;
            }

            .navigation-menu {
                &__item-icon {
                    top: 60%;
                }
            }
        }
    }

    &__item-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        right: 15px;
        font-size: 11px;
        color: #203239;
        transition: all .3s;

    }
}

@media(max-width:1200px) {
    .navigation-menu {
        &__item-icon {
            right: 0;
        }
    }
}

@media(max-width:768px) {
    .navigation-menu {
        &__item-icon {
            font-size: 8px;
        }
    }
}

@media(max-width:576px) {
    .header {
        padding-top: 30px;
    }

    .navigation-menu {
        flex-direction: column;

        &__item {
            text-align: center;
            padding: 20px;

            &::after {
                bottom: 0;
            }

            &:hover {
                &::after {
                    width: 0%;
                }
            }

            a {
                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    .drop-menu {
        &__list {
            display: none;
        }

        &__list-mobile {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            a {
                transition: all .3s;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 15px;
    }

    .mm-listitem {
        &__text {
            text-align: left;
        }
    }
}