@import 'jquery-modal/jquery.modal.css';

.offer {
    padding-top: 68px;
    padding-bottom: 163px;

    &__title {
        margin-bottom: 64px;
    }
}

.offer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.offer-images {
    position: relative;

    &__main-img {
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__sub-img {
        border-radius: 10px;
        filter: drop-shadow(0px 101.786px 81.4289px rgba(0, 0, 0, 0.11)) drop-shadow(0px 22.7353px 18.1882px rgba(0, 0, 0, 0.0655718)) drop-shadow(0px 6.76889px 5.41511px rgba(0, 0, 0, 0.0444282));
        position: absolute;
        top: 60px;
        left: 167px;
        object-fit: cover;
    }
}

.offer-desc {
    z-index: 1;

    &__title {
        margin-bottom: 24px;
    }

    &__description {
        margin-bottom: 48px;
    }
}

.info-btns {
    display: flex;
    gap: 48px;

    &__call-btn {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    &__phone-icon {
        margin-right: 15px;
    }
}


.calling-form {
    text-align: center;
    transition: all .3s;

    &__title {
        text-align: center;
    }

    &__btn {
        margin-top: 10px;
    }

    &--filter-blur {
        filter: blur(4px);
    }
}

.fields-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &__input {
        margin-bottom: 20px;
    }
}

.error-message {
    background-color: red;
    color: #fff;
    width: 100%;
}

.success-message {
    transition: all .5s;
    position: absolute;
    background-color: green;
    border-radius: 6px;
    color: #fff;
    width: 25%;
    opacity: 0;
    visibility: hidden;
    right: 50%;
    transform: translateX(50%);
    top: -31px;
    
    &--active {
        top: 10px;
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
}

@media(max-width:1200px) {
    .offer-images {
        position: relative;

        &__main-img {
            width: 50%;
        }

        &__sub-img {
            width: 50%;
        }
    }
}

@media(max-width:991px) {
    .offer-desc {
        &__title {
            font-size: 30px;
            margin-top: 0px;
        }
    }

    .info-btns {
        flex-direction: column;
        gap: 10px;
    }

    .offer-images {
        position: relative;

        &__main-img {
            width: 70%;
        }

        &__sub-img {
            top: 90px;
            left: 75px;
            width: 70%;
        }
    }
}

@media(max-width:768px) {
    .offer-wrapper {
        grid-template-columns: 1fr;
    }

    .offer-desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25%;

        &__description {
            max-width: 80%;
        }
    }

    .offer-images {
        &__main-img {
            position: absolute;
            left: -30%;
            width: 50%;
            filter: brightness(1.2);
        }

        &__sub-img {
            display: none;
        }
    }
}


@media(max-width:575px) {
    .offer {
        &__title {
            margin-bottom: 30px;
        }
    }

    .offer-desc {
        padding-left: 0;

        &__title {
            margin-top: 20px;
            font-size: 25px;
        }

        &__description {
            max-width: 100%;
        }
    }

    .offer-images {
        &__main-img {
            display: none;
        }

    }

    .info-btns {
        gap: 20px;
        flex-direction: column;
        margin: 0 auto;
    }
}