@import 'mmenu-js/dist/mmenu.css';

.promo {
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 20px;

    &__title {
        margin-top: 65px;
        color: $dark-green;
        margin-bottom: 24px;
    }
}


.promo-left {
    &__desc {
        max-width: 545px;
        margin-bottom: 56px;
    }

    &__form {
        margin-bottom: 56px;
    }
}

.search-form {
    position: relative;

    &__search-input {
        min-width: 88.5%;
        border: none;
        padding: 21px 175px 21px 56px;
    }

    &__location {
        color: $dark-green;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 4%;
        font-size: 20px;
    }

    &__btn {
        position: absolute;
        box-shadow: 0px 6px 8px rgba(32, 50, 57, 0.25);
        transform: translateY(-50%);
        right: 13%;
        top: 50%;
    }
}

.promo-statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 68px;
}

.statistics-item {
    max-width: 149px;

    &__quantity {
        color: $dark-green;
        display: flex;
        align-items: baseline;
    }

    &__symbol {
        font-weight: 700;
        color: $main-color;
    }

    &__symbol-word {
        color: $main-color;
        font-size: 16px;
        height: 0;
    }
}

@media(max-width:1200px) {
    .promo {
        align-items: center;

        &__title {
            font-size: 40px;
        }
    }

    .promo-right {
        &__img {
            width: 100%;
        }
    }
}

@media(max-width: 991px) {
    .promo {
        &__title {
            margin-top: 20px;
            font-size: 30px;
        }
    }

    .promo-left {
        max-width: 65%;
    }

    .promo-statistics {
        gap: 30px;
    }

    .search-form {
        &__search-input {
            padding: 21px 160px 21px 56px;
        }
    }
}

@media(max-width: 780px) {
    .search-form {
        &__btn {
            right: 11%;
        }
    }
}

@media(max-width: 768px) {
    .promo {
        &__title {
            text-align: center;
        }
    }

    .promo-right {
        &__img {
            display: none;
        }
    }

    .promo-left {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .search-form {
        &__btn {
            right: 3%;
        }
    }

    .promo-statistics {
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width:576px) {
    .promo-left {
        text-align: center;
    }

    .promo {
        &__title {
            font-size: 28px;
        }
    }

    .search-form {
        width: 100%;

        &__search-input {
            padding: 11px 20px 11px 40px;
        }

        &__btn {
            margin-top: 20px;
            transform: none;
            position: initial;
        }

        &__location {
            top: 20%;
            left: 8%;
        }
    }

    .promo-statistics {
        justify-content: center;
        gap: 20px;
    }

    .statistics-item {
        max-width: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__quantity {
            font-size: 38px;
        }
    }
}

@media(max-width: 500px) {
    .promo-statistics {
        justify-content: flex-start;
    }
}

@media(max-width:340px) {
    .promo-statistics {
        justify-content: center;
    }
}