@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import '../../node_modules/bootstrap/dist/css/bootstrap-reboot.css';

@import './base/variables.scss';
@import './base/reuse-parts';

body {
  font-family: Poppins, sans-serif;
}

input {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(32, 50, 57, 0.55);
  border-radius: 15px;
  border: none;

}

.container {
  width: 1204px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@import './parts/header';
@import './parts/promo';
@import './parts/purchasing';