body {
    font-family: Poppins, sans-serif;

    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: rgba(32, 50, 57, 0.55);
}

input {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(32, 50, 57, 0.55);
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $dark-green;

    &:hover {
        color: $dark-green;
    }
}

.container {
    width: 1204px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.bg-color-milk {
    background-color: #EEEDDE;
}

.bg-color-darkgreen {
    background-color: $dark-green;
}

.lg-text {
    font-size: 56px;
    font-weight: 600;
    line-height: 84px;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: $dark-green;
    max-width: 535px;
}

.btn {
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    padding: 13px 40px;
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    &--type-black {
        background-color: $dark-green;
        color: #fff;
        border: $dark-green 1px solid;

        &:hover {
            background-color: #536a74;
            color: #fff;
        }
    }

    &--type-transparent {
        background-color: transparent;
        color: $dark-green;
        border: $dark-green 1px solid;

        &:hover {
            background-color: #8a8a8a5e;
        }
    }

    &--type-peachpuff {
        background-color: rgba(255, 117, 39, 0.2);
        color: $main-color;

        &:hover {
            background-color: rgba(255, 117, 39, 0.4);
        }
    }

    &--type-orange {
        background-color: rgba(255, 117, 39, 0.8);
        color: #fff;

        &:hover {
            background-color: rgba(255, 117, 39, 1);
        }
    }
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $main-color;
}

.preload {
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;

    &--active {
        opacity: 1;
        visibility: visible;
    }
}

.preload div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid $main-color;
    border-radius: 50%;
    animation: preload 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $main-color transparent transparent transparent;
}

.preload div:nth-child(1) {
    animation-delay: -0.45s;
}

a .preload div:nth-child(2) {
    animation-delay: -0.3s;
}

.preload div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes preload {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 1200px) {
    .lg-text {
        line-height: 1.5em;
    }
}

@media(max-width: 991px) {
    .desc {
        font-size: 14px;
    }

    .lg-text {
        line-height: 50px;
    }
}



@media(max-width:575px) {

    .title {
        font-size: 25px;
        line-height: 40px;
    }

    .desc {
        font-size: 13px;
    }
}